*{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    color: white;
    font-family: 'Sancreek', cursive;
    background-image: url('./assets/fondo_líneas.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #0000;
}

header{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}

nav{
    width: 100%;
}

p{
    text-align: justify;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: white;
}

footer{
    background-color: black;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.25rem;
}

#logo{
    width: 45%;
}

#menu{
    font-size: 1.2rem;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

#goUp{
    width: 7%;
    position: fixed;
    bottom: 0;
    right: 0
}

#arrow{
    margin-left: 0.25rem;
}

.container{
    width: 80%;
    background-color: black;
    margin: 1rem auto;
    padding: 0.8rem;
    border-radius: 5px;
    border: 1.75px solid chartreuse;
    text-align: center;
}

.song{
    width: 80%;
}